*{
    margin: 0;
    padding: 0;
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

.top{
    height: 800px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dark-gray {
    background-color: #1f2947;
}

.empty {
    flex: 7;
}

.header-link {
    color: white;
    flex: 1;
    font-family: 'montserrat';
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#header {
    display: flex;
    width: 70%;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 50px;
}

#logo {
    font-family: 'montserrat';
    font-size: 40px;
    color: white;
    font-weight: 600;
    flex:auto;
}

#content-top {
    display: flex;
    width: 70%;
    /* height: 300px; */
    display: flex;
}

#content-top div{
    /* background-color: green; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-top .content div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#signup {
    width: 30%;
    border-radius:6px;
    height: 25px;
    background-color:#3882f6;
    border-width: 0px;
    color: white;
}